@charset "utf-8";

/* 스킵 내비게이션 */
#skip {position: relative;}
#skip a {position: absolute; left: 0px; top: -40px; border: 1px solid #fff; color: #fff; background: #333;line-height: 30px; width: 140px; text-align: center;font-size: 20px;}
#skip a:active,
#skip a:focus {top:0; }

/* 레이아웃*/
#header {}
#contents {}
#con_top {width: 1200px; height: 500px; background: #bbb;}
#con_left {float: left; width: 600px; height: 500px; background: #ccc;}
#con_right {float: left; right: 0; top: 500px; width: 600px; height: 500px; background: #ddd;}
#footer {}

/* 컨테이너*/
.container {width: 1200px; margin: 0 auto; background-color: #fff;}

/* 헤더*/
.header a {width: 400px; height: 163px; display: inline-block; background: url(../img/youngsungallery_logo.jpeg)}
.header a.logo {background-position: 0 0;}

/* 전체메뉴*/
.nav {overflow: hidden; padding: 25px 0;}
.nav > div {text-align: center;}
.nav > div a {padding: 0 30px 0 30px; display: inline-block; transition: color 0.5s ease; font-size: 30px;}
.nav > div a:hover {color:#827717;}

/* mediaquery */
@media (max-width: 1220px) {
    .container {width: 100%;}
    .row {padding: 15 15px;}
}
