@charset "utf-8";

/* 스킵 내비게이션
#skip {position: relative;}
#skip a {position: absolute; left: 0px; top: -40px; border: 1px solid #fff; color: #fff; background: #333;line-height: 30px; width: 140px; text-align: center;}
#skip a:active,
#skip a:focus {top:0; } */

/* 레이아웃*/
#header {}

/* 컨테이너*/
.container {width: 1200px; margin: 0 auto; background-color: #fff;}

/* 헤더*/
.header a {width: 400px; height: 163px; display: inline-block; background: url(../img/youngsungallery_logo.jpeg)}
.header a.logo {background-position: 0 0;}

/* 전체메뉴*/
.nav {overflow: hidden; padding: 25px 0;}
.nav a {font-size: 30px;}

/* mediaquery */
@media (max-width: 1220px) {
    .container {width: 100%;}
    .row {padding: 15 15px;}
}
