@charset "utf-8";

/* 레이아웃 */
#header {}

/*컨테이너 */
.container {width: 1200px; margin: 0 auto;}

/*헤더 */
.header {height: 80px;}
.header a {font-size: 40px;}

/* 메뉴 */
.nav {overflow: hidden; padding: 20px 0;}
.nav > div {text-align: center;}
.nav > div li {float: left; width: 18%; margin: 1%;}
.nav > div li a {display: inline-block; transition: color 0.5s ease; font-size: 30px;}
.nav > div li a:hover {color:#827717;}
