@charset "utf-8";

/* 레이아웃 */
#nav {position: fixed; left: 0; top: 0; width: 100%; background-color: rgba(255,255,255,0.3);}
#nav h1 {float: left; font-size: 40px; padding: 5px 5px 5px 50px;}
#nav ul {float: right; padding-right: 10px; }
#nav ul li {display: inline; }
#nav ul li a {display: inline-block; padding: 20px 15px; font-weight: bold; text-transform: capitalize;}

#contents {text-align: center;}
#contents > div {padding: 0 0 50px 0;}
#contents > div h2 {padding: 60px 0 10px 0; font-size: 40px; font-weight: 30px; text-transform: uppercase;}
#contents > div h2 strong {font-weight: 100px;}

/* 내용*/
/*column col1 : 내용
column col2 : News 내용
column col3 : 유튜브 영상링크
column col4 : 작품이미지
column col5 : 유튜브 영상 제목, 작품이미지 */

.news {text-align: left;}
.news h3 {text-align: left; padding: 0 0 0 50px; font-size: 2em;}

.exh {width: 100%; height: auto;}

.art {text-align: left;}
.art h3 {text-align: left; padding: 0 0 0 50px; font-size: 2em;}

.youtube {position: relative; text-align: left;}
.youtube h3 {text-align: left; padding: 0 0 0 50px; font-size: 2em;}

.map {text-align: left;}
.map h3 {text-align: left; padding: 0 0 0 50px; font-size: 2em;}

.footer {text-align: left;}
.footer h3 {text-align: left; padding: 0 0 0 50px; font-size: 2em;}


.artsale {}
.artsale h5 {text-align: center; padding: 0 0 0 30px; font-size: 20px;}

.column {text-align: center;}
.column.col1 {}
.column.col1 
.column.col2 {}
.column.col2 h3 {text-align: left; font-size: 20px;}
.column.col3 {
    position: relative;
    width: 100%;
    max-width: 900px;
    height: auto;
    margin: 30px auto;
    padding-top: 50%;    
}
.column.col3 iframe {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.column.col4 {width: 100%; height: auto;}
.column.col5 {}
.column.col5 h4 {font-size: 30px;}
.column.col5 h5 {font-size: 15px;}